@import './radix.css';

@scope (.light) to (.dark) {
	:scope {
		--ramp-max: black;
	}
}
@scope (.dark) to (.light) {
	:scope {
		--ramp-max: white;
	}
}

@scope (.neutral) to (.chromatic) {
	:scope,
	:where(.dark, .light),
	:where(
			.gray,
			.mauve,
			.slate,
			.sage,
			.olive,
			.sand,
			.bronze,
			.gold,
			.brown,
			.orange,
			.tomato,
			.red,
			.ruby,
			.crimson,
			.pink,
			.plum,
			.purple,
			.violet,
			.iris,
			.indigo,
			.blue,
			.cyan,
			.teal,
			.jade,
			.green,
			.grass,
			.sly,
			.mint,
			.lime,
			.yellow,
			.amber
		) {
		--ramp-1: var(--neu-1);
		--ramp-2: var(--neu-2);
		--ramp-3: var(--neu-3);
		--ramp-4: var(--neu-4);
		--ramp-5: var(--neu-5);
		--ramp-6: var(--neu-6);
		--ramp-7: var(--neu-7);
		--ramp-8: var(--neu-8);
		--ramp-9: var(--neu-9);
		--ramp-10: var(--neu-10);
		--ramp-11: var(--neu-11);
		--ramp-12: var(--neu-12);

		--ramp-a1: var(--neu-a1);
		--ramp-a2: var(--neu-a2);
		--ramp-a3: var(--neu-a3);
		--ramp-a4: var(--neu-a4);
		--ramp-a5: var(--neu-a5);
		--ramp-a6: var(--neu-a6);
		--ramp-a7: var(--neu-a7);
		--ramp-a8: var(--neu-a8);
		--ramp-a9: var(--neu-a9);
		--ramp-a10: var(--neu-a10);
		--ramp-a11: var(--neu-a11);
		--ramp-a12: var(--neu-a12);
	}
}

@scope (.chromatic) to (.neutral) {
	:scope,
	:where(.dark, .light),
	:where(
			.gray,
			.mauve,
			.slate,
			.sage,
			.olive,
			.sand,
			.bronze,
			.gold,
			.brown,
			.orange,
			.tomato,
			.red,
			.ruby,
			.crimson,
			.pink,
			.plum,
			.purple,
			.violet,
			.iris,
			.indigo,
			.blue,
			.cyan,
			.teal,
			.jade,
			.green,
			.grass,
			.sly,
			.mint,
			.lime,
			.yellow,
			.amber
		) {
		--ramp-1: var(--clr-1);
		--ramp-2: var(--clr-2);
		--ramp-3: var(--clr-3);
		--ramp-4: var(--clr-4);
		--ramp-5: var(--clr-5);
		--ramp-6: var(--clr-6);
		--ramp-7: var(--clr-7);
		--ramp-8: var(--clr-8);
		--ramp-9: var(--clr-9);
		--ramp-10: var(--clr-10);
		--ramp-11: var(--clr-11);
		--ramp-12: var(--clr-12);

		--ramp-a1: var(--clr-a1);
		--ramp-a2: var(--clr-a2);
		--ramp-a3: var(--clr-a3);
		--ramp-a4: var(--clr-a4);
		--ramp-a5: var(--clr-a5);
		--ramp-a6: var(--clr-a6);
		--ramp-a7: var(--clr-a7);
		--ramp-a8: var(--clr-a8);
		--ramp-a9: var(--clr-a9);
		--ramp-a10: var(--clr-a10);
		--ramp-a11: var(--clr-a11);
		--ramp-a12: var(--clr-a12);
	}
}
