.card {
	--container-padding-inline: 1.25em;
	--container-padding-block: 1em;
	padding-block: var(--container-padding-block);
	padding-inline: var(--container-padding-inline);
	background-color: var(--paper);
	border: 1px solid var(--divider);
	overflow: hidden;
}

.card.interactive {
	cursor: pointer;
	border: 1px solid var(--border);
	transition: all var(--transition-snappy);

	&:hover {
		border: 1px solid var(--boundary);
		background-color: var(--container);
	}
}

.entity-list {
	--separation: 0.5ch;
	display: block;
	text-align: justify;
	max-inline-size: 100%;
	overflow: hidden;
	> li {
		display: inline;
	}
	> li + li::before {
		display: inline;
		content: ' / ';
		font-weight: var(--font-weight-normal);
		color: var(--accent);
		padding-inline-start: var(--separation);
		padding-inline-end: var(--separation);
		break-after: avoid;
		break-before: avoid;
	}
}
