@import './vars.scss';

html {
	height: 100vh;
	min-height: 100vh;
	font-family: var(--font-stack-sans);
	font-weight: 400;
	font-variant-ligatures: common-ligatures;
	font-variant-numeric: tabular-nums;
	hanging-punctuation: first last;
	background-color: var(--background);
	accent-color: var(--link);
}

body {
	height: 100%;
	margin: 0;
	color: var(--display);
	font-size: 0.875rem;
	line-height: var(--line-height);
}

h1 {
	font-size: var(--font-size-title);
	font-weight: 300;
	line-height: 1.3;
}
h2 {
	font-size: var(--font-size-heading);
	font-weight: 300;
	line-height: 1.4;
}
h3 {
	font-size: var(--font-size-subhead);
	font-weight: 300;
	line-height: 1.5;
}
h1,
h2,
h3 {
	color: var(--primary);
}

strong {
	font-weight: 500;
}

small,
.small {
	font-size: var(--font-size-small);
}

.caption {
	font-size: var(--font-size-small);
	color: var(--secondary);
}

button {
	background-color: var(--splash);
	color: var(--accent);
	border-width: 1px;
	border-style: solid;
	border-color: var(--border);
	border-radius: var(--border-radius-small);
	padding: 0.25em 0.5em;
	margin: 0;

	&:hover {
		background-color: var(--flood);
		border-color: var(--boundary);
	}

	&.link {
		appearance: none;
		background: none;
		border: none;
		outline: none;
		padding: 0;
		margin: 0;
	}
}

input[type='text'],
input[type='search'] {
	padding: 0;
	background-color: var(--splash);
	border: 1px solid var(--border);
	padding: 0.25em 0.5em;
	border-radius: var(--border-radius-small);
	color: var(--primary);

	&:hover {
		border-color: var(--boundary);
	}

	&::placeholder {
		color: var(--hint);
	}
}

label:has(> input[type='radio']) {
	display: inline-flex;
	align-items: center;
	gap: 0.25em;
}

:any-link,
.link {
	color: var(--link);
	text-decoration: none;

	&:hover {
		color: var(--link-active);
		text-decoration: underline;
		cursor: pointer;
	}

	transition: color 100ms;
}

button,
select,
input,
label:has(> input),
summary {
	color: var(--accent);
}
svg,
.icon {
	fill: var(--secondary);
}

a,
button,
input,
.link,
.text-mono,
pre,
code,
kbd,
samp {
	font-family: var(--font-stack-mono);
	/* The monospace fonts tend to be optically larger for a given font size. */
	font-size: 0.933em;
}

.text-mono :is(.link, :any-link) {
	font-size: 1em; /* Avoid compounding ensmallnesses. */
}

pre {
	overflow-x: auto;
}

ol,
ul {
	margin: 0;
	padding-inline-start: 1.5em;
}

blockquote {
	margin: 0;
	padding-left: 0.75em;
	border-left: 0.35em solid var(--flood);
	font-style: italic;
	font-size: 1.1em;
	font-family: var(--font-stack-serif);
}

.content :where(blockquote, article, section, figure, footer) > * + * {
	--spacing: 1em;
	margin-top: var(--spacing);
}

blockquote:not(.extract-text) em {
	font-style: normal;
}

hr {
	color: var(--divider);
	margin: 1px 0 0 0;
	padding-top: 1px;
	border-style: solid;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

table {
	border-collapse: collapse;
}

tr:not(:first-child) {
	border-top: 1px solid var(--divider);
}

th,
td {
	padding: 0.5rem 0.25rem;
}

th {
	text-align: left;
	font-weight: normal;
	color: var(--secondary);
	vertical-align: bottom;
	white-space: nowrap;
	padding-top: 0;
}

td {
	vertical-align: baseline;
}
