/* https://stackoverflow.com/questions/26032089/in-html-how-can-i-have-text-that-is-only-accessible-for-screen-readers-i-e-fo#:~:text=visibility%3A%20hidden%3B%20and%2For,want%20read%20by%20screen%20readers. */
.screenreader {
	position: absolute !important; /* Outside the DOM flow */
	height: 1px;
	inline-size: 1px; /* Nearly collapsed */
	overflow: hidden;
	inset-inline-start: -10000px;
	clip-path: rect(1px, 1px, 1px, 1px); /* All other browsers */
	clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

.inherit {
	all: inherit;
	color: currentColor;

	&:hover {
		text-decoration: revert;
		cursor: revert;
	}
}

.text-inverted {
	color: var(--main-contrast);
}

.theme-primary {
	color: var(--accent);
}

.text-secondary {
	color: var(--secondary);
}

.text-hint {
	color: var(--hint);
}

.center {
	text-align: center;
}

.themey {
	background-color: var(--main);
	color: var(--main-contrast);

	--layer-highlight: var(--main);
	--text-link: currentColor;
	--text-link-hover: currentColor;
}

.unthemey {
	:any-link,
	.link {
		color: var(--accent);
		&:hover {
			color: var(--primary);
		}
	}
}

.container {
	background-color: var(--container);
}

.paper {
	background-color: var(--paper);
}

@property --scroll-fade-start {
	syntax: '<length-percentage>';
	inherits: false;
	initial-value: 0px;
}

@property --scroll-fade-end {
	syntax: '<length-percentage>';
	inherits: false;
	initial-value: 0px;
}

@keyframes scroll-fade-reveal-start {
	from {
		--scroll-fade-start: 0px;
	}
	to {
		--scroll-fade-start: var(--scroll-fade-size, min(12%, 2.5rem));
	}
}

@keyframes scroll-fade-reveal-end {
	from {
		--scroll-fade-end: var(--scroll-fade-size, min(12%, 2.5rem));
	}
	to {
		--scroll-fade-end: 0px;
	}
}

.scroll-fade {
	mask-image: linear-gradient(
		to bottom,
		transparent 0,
		#000 var(--scroll-fade-start),
		#000 calc(100% - var(--scroll-fade-end)),
		transparent 100%
	);

	@supports (animation-timeline: scroll()) {
		animation:
			scroll-fade-reveal-start 1ms ease-in-out,
			scroll-fade-reveal-end 1ms ease-in-out;
		animation-timeline: scroll(self block), scroll(self block);
		animation-range:
			0 var(--scroll-fade-reveal, 6rem),
			calc(100% - var(--scroll-fade-reveal, 6rem)) 100%;
		animation-fill-mode: both;
	}

	@supports not (animation-timeline: scroll()) {
		--scroll-fade-start: var(--scroll-fade-size, min(12%, 2.5rem));
		--scroll-fade-end: var(--scroll-fade-size, min(12%, 2.5rem));
	}
}
