/* NEUTRALS */

.mauve,
.tomato.neutral,
.purple.neutral {
	--clr-contrast: white;
	--clr-1: var(--mauve-1);
	--clr-2: var(--mauve-2);
	--clr-3: var(--mauve-3);
	--clr-4: var(--mauve-4);
	--clr-5: var(--mauve-5);
	--clr-6: var(--mauve-6);
	--clr-7: var(--mauve-7);
	--clr-8: var(--mauve-8);
	--clr-9: var(--mauve-9);
	--clr-10: var(--mauve-10);
	--clr-11: var(--mauve-11);
	--clr-12: var(--mauve-12);

	--clr-a1: var(--mauve-a1);
	--clr-a2: var(--mauve-a2);
	--clr-a3: var(--mauve-a3);
	--clr-a4: var(--mauve-a4);
	--clr-a5: var(--mauve-a5);
	--clr-a6: var(--mauve-a6);
	--clr-a7: var(--mauve-a7);
	--clr-a8: var(--mauve-a8);
	--clr-a9: var(--mauve-a9);
	--clr-a10: var(--mauve-a10);
	--clr-a11: var(--mauve-a11);
	--clr-a12: var(--mauve-a12);
}
.mauve {
	--clr-link: var(--mauve-a11);
	--clr-link-active: var(--mauve-a12);
}

.slate,
.indigo.neutral,
.sky.neutral {
	--clr-contrast: white;
	--clr-1: var(--slate-1);
	--clr-2: var(--slate-2);
	--clr-3: var(--slate-3);
	--clr-4: var(--slate-4);
	--clr-5: var(--slate-5);
	--clr-6: var(--slate-6);
	--clr-7: var(--slate-7);
	--clr-8: var(--slate-8);
	--clr-9: var(--slate-9);
	--clr-10: var(--slate-10);
	--clr-11: var(--slate-11);
	--clr-12: var(--slate-12);

	--clr-a1: var(--slate-a1);
	--clr-a2: var(--slate-a2);
	--clr-a3: var(--slate-a3);
	--clr-a4: var(--slate-a4);
	--clr-a5: var(--slate-a5);
	--clr-a6: var(--slate-a6);
	--clr-a7: var(--slate-a7);
	--clr-a8: var(--slate-a8);
	--clr-a9: var(--slate-a9);
	--clr-a10: var(--slate-a10);
	--clr-a11: var(--slate-a11);
	--clr-a12: var(--slate-a12);
}
.slate {
	--clr-link: var(--slate-a11);
	--clr-link-active: var(--slate-a12);
}

.sage,
.jade.neutral {
	--clr-contrast: white;
	--clr-1: var(--sage-1);
	--clr-2: var(--sage-2);
	--clr-3: var(--sage-3);
	--clr-4: var(--sage-4);
	--clr-5: var(--sage-5);
	--clr-6: var(--sage-6);
	--clr-7: var(--sage-7);
	--clr-8: var(--sage-8);
	--clr-9: var(--sage-9);
	--clr-10: var(--sage-10);
	--clr-11: var(--sage-11);
	--clr-12: var(--sage-12);

	--clr-a1: var(--sage-a1);
	--clr-a2: var(--sage-a2);
	--clr-a3: var(--sage-a3);
	--clr-a4: var(--sage-a4);
	--clr-a5: var(--sage-a5);
	--clr-a6: var(--sage-a6);
	--clr-a7: var(--sage-a7);
	--clr-a8: var(--sage-a8);
	--clr-a9: var(--sage-a9);
	--clr-a10: var(--sage-a10);
	--clr-a11: var(--sage-a11);
	--clr-a12: var(--sage-a12);
}
.sage {
	--clr-link: var(--sage-a11);
	--clr-link-active: var(--sage-a12);
}

.olive,
.grass.neutral {
	--clr-contrast: white;
	--clr-1: var(--olive-1);
	--clr-2: var(--olive-2);
	--clr-3: var(--olive-3);
	--clr-4: var(--olive-4);
	--clr-5: var(--olive-5);
	--clr-6: var(--olive-6);
	--clr-7: var(--olive-7);
	--clr-8: var(--olive-8);
	--clr-9: var(--olive-9);
	--clr-10: var(--olive-10);
	--clr-11: var(--olive-11);
	--clr-12: var(--olive-12);

	--clr-a1: var(--olive-a1);
	--clr-a2: var(--olive-a2);
	--clr-a3: var(--olive-a3);
	--clr-a4: var(--olive-a4);
	--clr-a5: var(--olive-a5);
	--clr-a6: var(--olive-a6);
	--clr-a7: var(--olive-a7);
	--clr-a8: var(--olive-a8);
	--clr-a9: var(--olive-a9);
	--clr-a10: var(--olive-a10);
	--clr-a11: var(--olive-a11);
	--clr-a12: var(--olive-a12);
}
.olive {
	--clr-link: var(--olive-a11);
	--clr-link-active: var(--olive-a12);
}

.sand,
.amber.neutral {
	--clr-contrast: white;
	--clr-1: var(--sand-1);
	--clr-2: var(--sand-2);
	--clr-3: var(--sand-3);
	--clr-4: var(--sand-4);
	--clr-5: var(--sand-5);
	--clr-6: var(--sand-6);
	--clr-7: var(--sand-7);
	--clr-8: var(--sand-8);
	--clr-9: var(--sand-9);
	--clr-10: var(--sand-10);
	--clr-11: var(--sand-11);
	--clr-12: var(--sand-12);

	--clr-a1: var(--sand-a1);
	--clr-a2: var(--sand-a2);
	--clr-a3: var(--sand-a3);
	--clr-a4: var(--sand-a4);
	--clr-a5: var(--sand-a5);
	--clr-a6: var(--sand-a6);
	--clr-a7: var(--sand-a7);
	--clr-a8: var(--sand-a8);
	--clr-a9: var(--sand-a9);
	--clr-a10: var(--sand-a10);
	--clr-a11: var(--sand-a11);
	--clr-a12: var(--sand-a12);
}
.sand {
	--clr-link: var(--sand-a11);
	--clr-link-active: var(--sand-a12);
}

/* COLORS */

.tomato,
.tomato.chromatic {
	--clr-contrast: white;
	--clr-1: var(--tomato-1);
	--clr-2: var(--tomato-2);
	--clr-3: var(--tomato-3);
	--clr-4: var(--tomato-4);
	--clr-5: var(--tomato-5);
	--clr-6: var(--tomato-6);
	--clr-7: var(--tomato-7);
	--clr-8: var(--tomato-8);
	--clr-9: var(--tomato-9);
	--clr-10: var(--tomato-10);
	--clr-11: var(--tomato-11);
	--clr-12: var(--tomato-12);

	--clr-a1: var(--tomato-a1);
	--clr-a2: var(--tomato-a2);
	--clr-a3: var(--tomato-a3);
	--clr-a4: var(--tomato-a4);
	--clr-a5: var(--tomato-a5);
	--clr-a6: var(--tomato-a6);
	--clr-a7: var(--tomato-a7);
	--clr-a8: var(--tomato-a8);
	--clr-a9: var(--tomato-a9);
	--clr-a10: var(--tomato-a10);
	--clr-a11: var(--tomato-a11);
	--clr-a12: var(--tomato-a12);

	--clr-link: var(--tomato-a11);
	--clr-link-active: var(--tomato-a12);
}

.purple,
.purple.chromatic {
	--clr-contrast: white;
	--clr-1: var(--purple-1);
	--clr-2: var(--purple-2);
	--clr-3: var(--purple-3);
	--clr-4: var(--purple-4);
	--clr-5: var(--purple-5);
	--clr-6: var(--purple-6);
	--clr-7: var(--purple-7);
	--clr-8: var(--purple-8);
	--clr-9: var(--purple-9);
	--clr-10: var(--purple-10);
	--clr-11: var(--purple-11);
	--clr-12: var(--purple-12);

	--clr-a1: var(--purple-a1);
	--clr-a2: var(--purple-a2);
	--clr-a3: var(--purple-a3);
	--clr-a4: var(--purple-a4);
	--clr-a5: var(--purple-a5);
	--clr-a6: var(--purple-a6);
	--clr-a7: var(--purple-a7);
	--clr-a8: var(--purple-a8);
	--clr-a9: var(--purple-a9);
	--clr-a10: var(--purple-a10);
	--clr-a11: var(--purple-a11);
	--clr-a12: var(--purple-a12);

	--clr-link: var(--purple-a11);
	--clr-link-active: var(--purple-a12);
}

.indigo,
.indigo.chromatic {
	--clr-contrast: white;
	--clr-1: var(--indigo-1);
	--clr-2: var(--indigo-2);
	--clr-3: var(--indigo-3);
	--clr-4: var(--indigo-4);
	--clr-5: var(--indigo-5);
	--clr-6: var(--indigo-6);
	--clr-7: var(--indigo-7);
	--clr-8: var(--indigo-8);
	--clr-9: var(--indigo-9);
	--clr-10: var(--indigo-10);
	--clr-11: var(--indigo-11);
	--clr-12: var(--indigo-12);

	--clr-a1: var(--indigo-a1);
	--clr-a2: var(--indigo-a2);
	--clr-a3: var(--indigo-a3);
	--clr-a4: var(--indigo-a4);
	--clr-a5: var(--indigo-a5);
	--clr-a6: var(--indigo-a6);
	--clr-a7: var(--indigo-a7);
	--clr-a8: var(--indigo-a8);
	--clr-a9: var(--indigo-a9);
	--clr-a10: var(--indigo-a10);
	--clr-a11: var(--indigo-a11);
	--clr-a12: var(--indigo-a12);

	--clr-link: var(--indigo-a11);
	--clr-link-active: var(--indigo-a12);
}

.sky,
.sky.chromatic {
	--clr-contrast: white;
	--clr-1: var(--sky-1);
	--clr-2: var(--sky-2);
	--clr-3: var(--sky-3);
	--clr-4: var(--sky-4);
	--clr-5: var(--sky-5);
	--clr-6: var(--sky-6);
	--clr-7: var(--sky-7);
	--clr-8: var(--sky-8);
	--clr-9: var(--sky-9);
	--clr-10: var(--sky-10);
	--clr-11: var(--sky-11);
	--clr-12: var(--sky-12);

	--clr-a1: var(--sky-a1);
	--clr-a2: var(--sky-a2);
	--clr-a3: var(--sky-a3);
	--clr-a4: var(--sky-a4);
	--clr-a5: var(--sky-a5);
	--clr-a6: var(--sky-a6);
	--clr-a7: var(--sky-a7);
	--clr-a8: var(--sky-a8);
	--clr-a9: var(--sky-a9);
	--clr-a10: var(--sky-a10);
	--clr-a11: var(--sky-a11);
	--clr-a12: var(--sky-a12);

	--clr-link: var(--sky-a11);
	--clr-link-active: var(--sky-a12);
}

.jade,
.jade.chromatic {
	--clr-contrast: white;
	--clr-1: var(--jade-1);
	--clr-2: var(--jade-2);
	--clr-3: var(--jade-3);
	--clr-4: var(--jade-4);
	--clr-5: var(--jade-5);
	--clr-6: var(--jade-6);
	--clr-7: var(--jade-7);
	--clr-8: var(--jade-8);
	--clr-9: var(--jade-9);
	--clr-10: var(--jade-10);
	--clr-11: var(--jade-11);
	--clr-12: var(--jade-12);

	--clr-a1: var(--jade-a1);
	--clr-a2: var(--jade-a2);
	--clr-a3: var(--jade-a3);
	--clr-a4: var(--jade-a4);
	--clr-a5: var(--jade-a5);
	--clr-a6: var(--jade-a6);
	--clr-a7: var(--jade-a7);
	--clr-a8: var(--jade-a8);
	--clr-a9: var(--jade-a9);
	--clr-a10: var(--jade-a10);
	--clr-a11: var(--jade-a11);
	--clr-a12: var(--jade-a12);

	--clr-link: var(--jade-a11);
	--clr-link-active: var(--jade-a12);
}

.grass,
.grass.chromatic {
	--clr-contrast: white;
	--clr-1: var(--grass-1);
	--clr-2: var(--grass-2);
	--clr-3: var(--grass-3);
	--clr-4: var(--grass-4);
	--clr-5: var(--grass-5);
	--clr-6: var(--grass-6);
	--clr-7: var(--grass-7);
	--clr-8: var(--grass-8);
	--clr-9: var(--grass-9);
	--clr-10: var(--grass-10);
	--clr-11: var(--grass-11);
	--clr-12: var(--grass-12);

	--clr-a1: var(--grass-a1);
	--clr-a2: var(--grass-a2);
	--clr-a3: var(--grass-a3);
	--clr-a4: var(--grass-a4);
	--clr-a5: var(--grass-a5);
	--clr-a6: var(--grass-a6);
	--clr-a7: var(--grass-a7);
	--clr-a8: var(--grass-a8);
	--clr-a9: var(--grass-a9);
	--clr-a10: var(--grass-a10);
	--clr-a11: var(--grass-a11);
	--clr-a12: var(--grass-a12);

	--clr-link: var(--grass-a11);
	--clr-link-active: var(--grass-a12);
}

.amber,
.amber.chromatic {
	--clr-contrast: black;
	--clr-1: var(--amber-1);
	--clr-2: var(--amber-2);
	--clr-3: var(--amber-3);
	--clr-4: var(--amber-4);
	--clr-5: var(--amber-5);
	--clr-6: var(--amber-6);
	--clr-7: var(--amber-7);
	--clr-8: var(--amber-8);
	--clr-9: var(--amber-9);
	--clr-10: var(--amber-10);
	--clr-11: var(--amber-11);
	--clr-12: var(--amber-12);

	--clr-a1: var(--amber-a1);
	--clr-a2: var(--amber-a2);
	--clr-a3: var(--amber-a3);
	--clr-a4: var(--amber-a4);
	--clr-a5: var(--amber-a5);
	--clr-a6: var(--amber-a6);
	--clr-a7: var(--amber-a7);
	--clr-a8: var(--amber-a8);
	--clr-a9: var(--amber-a9);
	--clr-a10: var(--amber-a10);
	--clr-a11: var(--amber-a11);
	--clr-a12: var(--amber-a12);

	--clr-link: var(--amber-a11);
	--clr-link-active: var(--amber-a12);
}
